<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bridsnail.demo.mybatisplus.mapper.FilmMapper">
  <resultMap id="BaseResultMap" type="com.bridsnail.demo.mybatisplus.entity.Film">
    <!--@mbg.generated-->
    <!--@Table film-->
    <id column="film_id" jdbcType="SMALLINT" property="filmId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="release_year" jdbcType="OTHER" property="releaseYear" />
    <result column="language_id" jdbcType="TINYINT" property="languageId" />
    <result column="original_language_id" jdbcType="TINYINT" property="originalLanguageId" />
    <result column="rental_duration" jdbcType="TINYINT" property="rentalDuration" />
    <result column="rental_rate" jdbcType="DECIMAL" property="rentalRate" />
    <result column="length" jdbcType="SMALLINT" property="length" />
    <result column="replacement_cost" jdbcType="DECIMAL" property="replacementCost" />
    <result column="rating" jdbcType="OTHER" property="rating" />
    <result column="special_features" jdbcType="OTHER" property="specialFeatures" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    film_id, title, description, release_year, language_id, original_language_id, rental_duration, 
    rental_rate, `length`, replacement_cost, rating, special_features, last_update
  </sql>

  <select id="selectListByActorId" resultMap="BaseResultMap">
      select *
      from film f
               join film_actor fa using (film_id)
      where actor_id in
      <foreach collection="actorIds" open="(" separator="," close=")" item="item">
          #{item}
      </foreach>
  </select>
</mapper>